.sidenav {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'hero about detail'
    'experience certifications detail'
    'proyects contact detail';
  justify-content: normal;
  text-align: center;
}
.sidenav p {
  font-size: 1.1em;
  width: 85%;
  margin: 0 auto;
}
.sidenav h3 {
  font-size: 2.25em;
}
.sidenav a {
  text-decoration: none;
  font-size: 1.75em;
  color: var(--a-color);
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.sidenav a:hover {
  text-shadow: 2px 2px 3px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.DrawerTextStyle :global {
  cursor: pointer;
  font-weight: bold;
  animation: animOpacity 1.25s linear;
}
.hero {
  grid-area: hero;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--border-card-certification);
  color: var(--foreground);
}
.about {
  grid-area: about;
  height: 100%;
  background-color: var(--background-nav-modal-invert);
  color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--border-card-certification);
}
.experience {
  grid-area: experience;
  height: 100%;
  background-color: var(--background-nav-modal-invert);
  color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--border-card-certification);
}
.certifications {
  grid-area: certifications;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--border-card-certification);
  color: var(--foreground);
}
.proyects {
  grid-area: proyects;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--border-card-certification);
  color: var(--foreground);
}
.contact {
  grid-area: contact;
  height: 100%;
  background-color: var(--background-nav-modal-invert);
  color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--border-card-certification);
}
.detail {
  grid-area: detail;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--border-card-certification);
  color: var(--foreground);
  padding: 1em;
}
