.headerflex {
  position: fixed;
  background-color: var(--background);
  border-bottom: 1px solid var(--foreground);
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
}

.title {
  color: var(--foreground);
}

@media all and (min-width: 640px) and (max-width: 1280px) {
  .headerflex {
    height: 6vh;
    box-shadow: 2px 2px 16px var(--foreground);
  }

  .title {
    font-size: 2em;
    transition: all 0.5s linear;
  }

  .title:hover {
    font-size: 2.1em;
    transition: all 0.2s linear;
  }
}

@media all and (min-width: 1280px) {
  .headerflex {
    height: 7vh;
    box-shadow: 2px 2px 16px var(--foreground);
    transition: all 0.2s linear;
  }

  .headerflex:hover {
    box-shadow: 1px 1px 8px var(--foreground);
    transition: all 0.3s linear;
  }

  .title {
    font-size: 4em;
    text-shadow: 2px 2px 8px var(--foreground);
    transition: all 0.5s linear;
  }
  .title:hover {
    font-size: 4.5em;
    text-shadow: 4px 4px 6px var(--foreground);
    transition: all 0.5s linear;
  }
}
