.svg {
  margin: 0 1vh;
}

@media all and (min-width: 640px) and (max-width: 1280px) {
  .svg {
    height: 32px;
    width: 32px;
    margin: 0 1.5vh;
    filter: drop-shadow(4px 4px 16px var(--foreground));
  }
}

@media all and (min-width: 1280px) {
  .svg {
    height: 56px;
    width: 56px;
    margin: 0 1.75vh;
    filter: drop-shadow(4px 4px 16px var(--foreground));
    transition: all 0.2s linear;
  }

  .svg:hover {
    height: 60px;
    width: 60px;
    filter: drop-shadow(6px 6px 18px var(--foreground));
    transition: all 0.2s linear;
  }
}
