.containerAll :global {
  position: relative;
  animation: animOpacity 1s linear;
}
.containerAll img {
  animation: animOpacity 1s linear;
  border: 2px solid var(--border-card-certification) !important;
}
.buttonOverlay {
  position: absolute;
  width: 12vw;
  height: 12vh;
  left: 90%;
  bottom: 90%;
}
.cardOverlay div:nth-child(1) {
  margin: 10vh auto !important;
  min-height: 50vh !important;
  width: 85% !important;
}
.containerData {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  margin-bottom: 0.5vh;
  font-size: 1.4em;
  text-decoration: underline;
  text-shadow: 0px 0px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.title:hover {
  text-shadow: 1px 1px 2px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.subtitle {
  margin: 0;
  font-size: 1.3em;
  color: var(--subtitle-card-color);
  text-shadow: 0px 0px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.subtitle:hover {
  text-shadow: 1px 1px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.dataDesc {
  font-size: 1.2em;
  width: 85%;
  text-shadow: 0px 0px 1px var(--foreground);
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .title {
    font-size: 2.5em;
  }
  .subtitle {
    font-size: 2.25em;
  }
  .dataDesc {
    font-size: 1.75em;
  }
  .cardOverlay div:nth-child(1) {
    min-height: 60vh !important;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) and (orientation: landscape) {
  .containerAll div:nth-child(1) {
    height: 25vh !important;
  }
  .title {
    font-size: 2.25em;
  }
  .subtitle {
    font-size: 2em;
  }
  .dataDesc {
    font-size: 1.5em;
  }
  .cardOverlay div:nth-child(1) {
    min-height: 80vh !important;
  }
}
@media all and (min-width: 1280px) {
  .containerAll div:nth-child(1) {
    height: 30vh !important;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.75em;
  }
  .dataDesc {
    font-size: 1.5em;
  }
  .cardOverlay div:nth-child(1) {
    margin: 5vh auto !important;
    min-height: 90vh !important;
  }
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .cardOverlay div:nth-child(1) {
    margin: 5vh auto !important;
    min-height: 90vh !important;
    width: 75% !important;
  }
  .containerAll div:nth-child(1) {
    height: 25vh !important;
  }
  .containerData {
    font-size: 0.6em;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .dataDesc {
    font-size: 1.25em;
  }
}
