.containerAll :global {
  animation: animOpacity 1s linear;
}
.containerIMG {
  height: 35vh;
  position: relative;
}
.containerIMG img {
  border: 2px solid var(--border-card-certification) !important;
}
.containerData {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  margin-bottom: 0.2vh;
  font-size: 1.3em;
  text-decoration: underline;
  text-shadow: 0px 0px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.title:hover {
  text-shadow: 1px 1px 2px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.subtitle {
  margin: 0.6vh;
  font-size: 1.2em;
  color: var(--subtitle-card-color);
  text-shadow: 0px 0px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.subtitle:hover {
  text-shadow: 1px 1px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.dataDesc {
  margin: 0.6vh;
  font-size: 1.15em;
  width: 90%;
  text-shadow: 0px 0px 1px var(--foreground);
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .containerIMG {
    height: 40vh;
  }
  .title {
    font-size: 2.25em;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .dataDesc {
    font-size: 1.6em;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) and (orientation: landscape) {
  .containerIMG {
    height: 30vh;
  }
  .title {
    font-size: 2.25em;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .dataDesc {
    font-size: 1.6em;
  }
}
@media all and (min-width: 1280px) {
  .containerIMG {
    height: 40vh;
  }
  .title {
    margin: 0;
    font-size: 2.25em;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .dataDesc {
    font-size: 1.6em;
  }
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .containerIMG {
    height: 30vh;
  }
  .title {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1em;
  }
  .dataDesc {
    font-size: 0.75em;
  }
}
