.CardTitle {
  display: block;
  margin: 1vh 0;
  font-size: 1.25em;
  font-weight: bold;
}
.CardSubtitle a {
  color: var(--foreground);
  display: block;
  margin: 2vh 0;
}
.CardSubtitle a:hover {
  text-decoration: underline;
}
.CardCredID {
  display: block;
  margin: 1vh 0;
  font-size: 0.7em;
}
.CardLink a {
  display: block;
  margin: 1vh 0;
  color: #0a66c2;
}
.CardLink a:hover {
  text-decoration: underline;
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .CardLink svg {
    height: 40px;
    width: 40px;
  }
}
@media all and (min-width: 1280px) {
  .CardLink svg {
    height: 48px;
    width: 48px;
  }
}
