/* Flat Mode for Mobile Devices */
.sectionStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
  color: var(--background);
  -webkit-text-stroke-color: var(--background);
  -webkit-text-stroke-width: 1px;
}
.sectionStyle p {
  width: 75vw;
  text-align: justify;
}
.sectionStyle ul {
  width: 65vw;
  text-decoration: underline;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .sectionStyle h2 {
    font-size: 4em;
    text-shadow: 1px 1px 1px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle h2:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle p {
    width: 85vw;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle p:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle ul {
    font-size: 1.25em;
    text-shadow: 1px 1px 1px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle ul:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: all 0.3s linear;
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .sectionStyle aside {
    display: flex;
    align-items: center;
  }
  .sectionStyle h2 {
    font-size: 4em;
    text-shadow: 2px 2px 2px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle h2:hover {
    text-shadow: 2px 2px 6px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle p {
    width: 85vw;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle p:hover {
    text-shadow: 2px 2px 6px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle ul {
    font-size: 2em;
    text-shadow: 2px 2px 2px var(--background);
    transition: all 0.3s linear;
  }
  .sectionStyle ul:hover {
    text-shadow: 2px 2px 6px var(--background);
    transition: all 0.3s linear;
  }
}
