.all {
  margin: 0.25vh;
  stroke: var(--background);
  cursor: all-scroll;
}
.scrollAnim {
  animation: scroll ease 3s infinite;
}
/* Animations */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
}
