/* Flat Mode for Mobile Devices */
.socialmedia {
  display: contents;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .socialmedia {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
  .socialmedia svg {
    height: 24px;
    width: 24px;
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .socialmedia {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
  .socialmedia svg {
    height: 36px;
    width: 36px;
    animation: animOpacity 6s linear 0.2s infinite normal backwards running;
  }
}
/* Animations */
@keyframes animOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
