.BaseCard {
  width: 80%;
  height: 100%;
  background-color: var(--background);
  border-radius: 6px;
  border: 2px solid var(--border-card-certification);
  margin-bottom: 3vh;
  text-align: center;
}
