.socialmedia {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}
.socialmedia svg {
  filter: drop-shadow(0.5px 0.5px 1px var(--foreground));
  transition: filter 0.2s linear;
  animation: animOpacity 3s linear alternate infinite;
}
.socialmedia svg:hover {
  filter: drop-shadow(1px 1px 1.5px var(--foreground));
  transition: filter 0.2s linear;
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .socialmedia {
    width: 80vw;
    margin-top: 2vh;
  }
  .socialmedia svg {
    height: 32px;
    width: 32px;
  }
}
@media all and (min-width: 1280px) {
  .socialmedia svg {
    height: 36px;
    width: 36px;
  }
}
/* Animation */
@keyframes animOpacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
