/* Flat Mode for Mobile Devices */
.mainStyle {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  -webkit-text-stroke-color: var(--background);
  -webkit-text-stroke-width: 1px;
  font-weight: bold;
}
.mainStyle p {
  width: 50%;
  font-size: 2em;
  text-align: center;
}
.mainStyle h3 {
  width: 75%;
  font-size: 1.5em;
  text-align: center;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .mainStyle h2 {
    padding-top: 2vh;
    font-size: 3em;
  }
  .mainStyle p {
    width: 50%;
    font-size: 3em;
    text-align: center;
  }
  .mainStyle h3 {
    width: 85%;
    font-size: 2.5em;
    text-align: center;
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .mainStyle h2 {
    font-size: 4em;
  }
  .mainStyle p {
    width: 50%;
    font-size: 4em;
    text-align: center;
  }
  .mainStyle h3 {
    width: 100%;
    font-size: 3.5em;
    text-align: center;
  }
}
