:root {
  /* Default theme */
  --background: #f8eded;
  --foreground: #0c0a0a;
  --border-color: #eaeaea;
  --a-color: #0070f3;
}
/* Dark theme */
[data-theme='dark'] {
  --background: #0c0a0a;
  --foreground: #f8eded;
  --border-color: #201b1b;
  --a-color: #030d94;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
