:root {
  /* Default theme */
  --background: #faf6f6;
  --background-button-hover: #1d1818;
  --foreground: #0c0a0a;
  --a-color: #5f5d5d;
  --a-hover: #030303;
  /* IDE colors */
  --ide-backgroud: #edeff3;
  --ide-title: #1f2022;
  --ide-properties: #3604be;
  --ide-values: #794408;
  --ide-reserve: #bd1f34;
  /* Modal aka Overlay */
  --background-nav-modal: #faf6f6b0;
  --background-nav-modal-invert: #0c0a0ada;
  /* Card Certifications */
  --border-card-certification: rgba(0, 0, 0, 0.4);
  /* Card Proyects */
  --subtitle-card-color: #464646;
}
/* Dark theme */
[data-theme='dark'] {
  --background: #0c0a0a;
  --background-button-hover: #d4d0d0;
  --foreground: #faf6f6;
  --a-color: #777474;
  --a-hover: #ffffff;
  /* IDE colors */
  --ide-backgroud: #1d1e22;
  --ide-title: #c5c8d4;
  --ide-properties: #bd1f34;
  --ide-values: #ddba1f;
  --ide-reserve: #3604be;
  /* Modal aka Overlay */
  --background-nav-modal: #0c0a0ada;
  --background-nav-modal-invert: #faf6f6b0;
  /* Card Certifications */
  --border-card-certification: rgba(255, 255, 255, 0.4);
  /* Card Proyects */
  --subtitle-card-color: #c2b3b3;
}
