/* Flat Mode for Mobile Devices */
.container {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  border: 2px solid var(--background);
  background-color: var(--foreground);
  color: var(--background);
  text-align: justify;
}
.container h3 {
  text-decoration: underline;
}
.container h4 {
  color: #b3b3b3;
  margin: 1vh;
}
.container img {
  width: 90%;
  height: auto;
  border-radius: 5%;
  border: 1px solid var(--background);
}
@supports (object-fit: cover) {
  .container img {
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
.container p {
  width: 75%;
}
.container nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4px;
}
.container button {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--background-nav-modal);
  border-radius: 6px;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 1.25em;
  transition: all 0.4s linear;
}
.container button:hover {
  background-color: var(--background-button-hover);
  transition: all 0.4s linear;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .container h3 {
    font-size: 2.25em;
    text-shadow: 1px 1px 4px var(--background);
    transition: all 0.3s linear;
  }
  .container h3:hover {
    text-shadow: 2px 2px 6px var(--background);
    transition: all 0.3s linear;
  }
  .container h4 {
    font-size: 1.75em;
    text-shadow: 2px 2px 4px var(--background);
    transition: all 0.3s linear;
  }
  .container h4:hover {
    text-shadow: 2px 2px 6px var(--background);
    transition: all 0.3s linear;
  }
  .container p {
    font-size: 1.5em;
    text-shadow: 2px 2px 6px var(--background);
  }
  .container button {
    font-size: 2em;
    text-shadow: 2px 2px 4px var(--background);
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .container {
    border-radius: 10%;
    display: flex;
    flex-direction: row;
  }
  .container aside {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .container h3 {
    font-size: 2em;
    text-shadow: 2px 2px 4px var(--background);
    transition: all 0.3s linear;
  }
  .container h3:hover {
    text-shadow: 3px 3px 6px var(--background);
    transition: all 0.3s linear;
  }
  .container h4 {
    font-size: 1.75em;
    text-shadow: 1px 1px 4px var(--background);
    transition: all 0.3s linear;
  }
  .container h4:hover {
    text-shadow: 3px 3px 6px var(--background);
    transition: all 0.3s linear;
  }
  .container p {
    width: 90%;
    font-size: 1.5em;
    text-shadow: 2px 2px 6px var(--background);
  }
  .container button {
    font-size: 1.75em;
    text-shadow: 1px 1px 4px var(--background);
  }
}
