.sidenav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sidenav a {
  text-decoration: none;
  font-size: 2.5em;
  color: var(--a-color);
  font-weight: bold;
  letter-spacing: 3vw;
  -webkit-text-stroke: 2px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.sidenav a:hover {
  text-shadow: 1px 1px 4px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.sidenav small {
  font-size: 1.5em;
  color: var(--foreground);
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .sidenav a {
    font-size: 4.25em;
  }
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .sidenav a {
    font-size: 2.5em;
  }
}
