.containerMain {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.containerIDE :global {
  width: 85%;
  animation: animOpacity 1s linear;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-shadow: 1px 1px 1px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.title {
  font-size: 2em;
  margin: 2vh 0;
}
.subtitle {
  font-size: 2em;
  margin: 0 0 2vh 0;
}
.title:hover,
.subtitle:hover {
  text-shadow: 2px 2px 2px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.containerDinamic :global {
  text-align: center;
  width: 90vw;
  animation: animOpacity 1s linear;
  cursor: pointer;
}
.heroContent {
  margin: 1vh;
  font-size: 1.5em;
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 2em;
  }
  .textContent {
    font-size: 2em;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .title {
    font-size: 3.75em;
  }
  .subtitle {
    font-size: 3.25em;
  }
  .textContent {
    font-size: 2.5em;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) and (orientation: landscape) {
  .title {
    font-size: 4em;
  }
  .subtitle {
    font-size: 3em;
  }
  .textContent {
    font-size: 2.25em;
  }
  .containerDinamic {
    width: 75vw;
  }
}
@media all and (min-width: 1280px) {
  .containerMain {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] 7fr [y1] 2.5fr [y2] 0.5fr [y3];
    align-items: center;
    justify-items: center;
  }
  /* Header content in grid */
  .header {
    height: 100%;
    width: 100%;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .title {
    font-size: 3em;
    text-shadow: 1px 1px 1px var(--foreground);
    transition: text-shadow 0.2s linear;
  }
  .subtitle {
    font-size: 2.25em;
    text-shadow: 1px 1px 1px var(--foreground);
    transition: text-shadow 0.2s linear;
  }
  .title:hover,
  .subtitle:hover {
    text-shadow: 2px 2px 2px var(--foreground);
    transition: text-shadow 0.2s linear;
  }
  /* Container IDE in grid */
  .containerIDE :global {
    height: 85%;
    width: 100%;
    animation: animOpacity 1s linear;
    cursor: pointer;
    grid-column: x1 / x2;
  }
  /* Container Text in grid */
  .heroContent :global {
    position: relative;
    right: 50%;
    text-align: center;
    animation: animOpacity 1s linear;
    cursor: pointer;
    font-size: 2.5em;
  }
  /* ScrollSVG in grid */
  .scrollsvg {
    height: 100%;
    width: 100%;
    text-align: center;
    grid-column: x0 / x2;
    grid-row: y2 / y3;
  }
}
