/* Flat Mode for Mobile Devices */
.sectionStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--background) 45%,
    var(--foreground)
  );
  color: var(--foreground);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8a8a8a;
}
.sectionStyle h2 {
  font-size: 1.75em;
}
.sectionStyle h3 {
  font-size: 1.5em;
}
.sectionStyle h4 {
  font-size: 1.5em;
  text-align: center;
  color: var(--background);
  width: 75vw;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .sectionStyle h2 {
    font-size: 3.25em;
    text-shadow: 1px 1px 2px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h2:hover {
    text-shadow: 2px 2px 4px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3 {
    font-size: 2.75em;
    text-shadow: 1px 1px 2px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3:hover {
    text-shadow: 2px 2px 4px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h4 {
    font-size: 2.25em;
    text-shadow: 1px 1px 2px var(--foreground);
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .sectionStyle {
    -webkit-text-stroke-width: 2px;
    display: grid;
    grid-template-rows: 9fr 1fr;
    justify-items: center;
    align-items: center;
    background-size: 200% 200%;
    animation: animBackground 4s linear infinite alternate;
  }
  .sectionStyle > article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .sectionStyle div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sectionStyle h2 {
    font-size: 3em;
    text-shadow: 1px 1px 2px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h2:hover {
    text-shadow: 2px 2px 4px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3 {
    font-size: 2em;
    text-shadow: 1px 1px 2px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3:hover {
    text-shadow: 2px 2px 4px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h4 {
    font-size: 2em;
    text-shadow: 1px 1px 2px var(--foreground);
    width: 40vw;
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h4:hover {
    text-shadow: 2px 2px 4px var(--foreground);
    transition: text-shadow 0.3s linear;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) and (orientation: landscape) {
  .sectionStyle h2 {
    font-size: 3.75em;
  }
  .sectionStyle h4 {
    font-size: 2.75em;
  }
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .sectionStyle h2 {
    font-size: 2.75em;
  }
  .sectionStyle h4 {
    font-size: 1.5em;
  }
}
/* Animations */
@keyframes animBackground {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 65%;
  }
}
