.headerFlex :global {
  position: fixed;
  background-color: var(--background);
  border-bottom: 1px solid var(--foreground);
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
  z-index: 1;
  animation: animOpacity 1s linear;
  box-shadow: 1px 1px 4px var(--foreground);
  transition: box-shadow 0.2s linear;
}
.headerFlex:hover {
  box-shadow: 2px 2px 8px var(--foreground);
  transition: box-shadow 0.2s linear;
}
.headerFlex h1 {
  color: var(--foreground) !important;
  font-size: 2em;
  letter-spacing: 1.75vw;
  white-space: nowrap; /* Keeps the content on a single line */
  text-shadow: 1px 1px 2px var(--foreground);
  transition: text-shadow 0.2s linear;
}
.headerFlex h1:hover {
  text-shadow: 2px 2px 4px var(--foreground);
  transition: text-shadow 0.2s linear;
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .headerFlex h1 {
    font-size: 1em;
    letter-spacing: 2vw;
  }
}
