/* Flat Mode for Mobile Devices */
.sectionStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--foreground);
  color: var(--background);
}
.sectionStyle h2 {
  font-size: 2.5em;
}
.sectionStyle h3 {
  font-size: 1.75em;
}
.asideStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionStyle p {
  width: 65%;
  text-align: center;
  font-size: 1.25em;
}
.sectionStyle svg {
  fill: var(--background);
  width: 32px;
  height: 32px;
  margin: 0 16px;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .sectionStyle h2 {
    font-size: 3.5em;
    text-shadow: 1px 1px 2px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h2:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3 {
    font-size: 2.75em;
    text-shadow: 1px 1px 2px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle p {
    width: 75%;
    font-size: 2em;
    text-shadow: 1px 1px 4px var(--background);
  }
  .sectionStyle h4 {
    font-size: 1.25em;
  }
  .sectionStyle svg {
    width: 48px;
    height: 48px;
    filter: drop-shadow(2px 2px 4px var(--background));
    transition: filter 0.3s linear;
  }
  .sectionStyle svg:hover {
    filter: drop-shadow(3px 3px 8px var(--background));
    transition: filter 0.3s linear;
  }
  .sectionStyle aside button {
    font-size: 2em;
    border: 2px solid var(--background-nav-modal);
  }
  .sectionStyle aside button:hover {
    border-radius: 10px;
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .sectionStyle h2 {
    font-size: 3em;
    text-shadow: 1px 1px 2px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h2:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3 {
    font-size: 2em;
    text-shadow: 1px 1px 2px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle h3:hover {
    text-shadow: 2px 2px 4px var(--background);
    transition: text-shadow 0.3s linear;
  }
  .sectionStyle p {
    width: 100%;
    font-size: 2em;
    text-shadow: 1px 1px 4px var(--background);
  }
  .sectionStyle h4 {
    font-size: 1.25em;
  }
  .sectionStyle svg {
    width: 48px;
    height: 48px;
    filter: drop-shadow(2px 2px 4px var(--background));
    transition: filter 0.3s linear;
  }
  .sectionStyle svg:hover {
    filter: drop-shadow(3px 3px 8px var(--background));
    transition: filter 0.3s linear;
  }
  .sectionStyle aside button {
    font-size: 2em;
    border: 2px solid var(--background-nav-modal);
  }
  .sectionStyle aside button:hover {
    border-radius: 8px;
  }
}
