/* Flat Mode for Mobile Devices */
.sidenav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-nav-modal);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  font-weight: bold;
  z-index: 2;
}
.sidenav a {
  text-decoration: none;
  font-size: 2em;
  color: var(--a-hover);
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: transparent;
  border-color: transparent;
  color: var(--foreground);
  font-size: 2em;
}
.closebtn:hover {
  background-color: transparent;
}
/* Transition Mode for Ultra Mobile/Tablets/Low PC Devices */
@media all and (min-width: 640px) and (max-width: 1280px) {
  .sidenav a {
    color: var(--a-color);
    font-size: 3.5em;
    transition: all 0.3s linear;
  }
  .sidenav a:hover {
    color: var(--a-hover);
    font-size: 4em;
    letter-spacing: 0.1em;
    transition: all 0.3s linear;
  }
  .closebtn {
    font-size: 2.5em;
    transition: font-size 0.3s linear;
  }
  .closebtn:hover {
    font-size: 2.75em;
    transition: font-size 0.3s linear;
  }
  .sidenav small {
    font-size: 1.5em;
  }
}
/* Animation Mode for PC and TV Devices */
@media all and (min-width: 1280px) {
  .sidenav {
    display: grid;
    grid-template-areas:
      'hero about detail'
      'proyects contact detail';
    justify-content: normal;
    text-align: center;
    animation: animOpacity 1.5s linear 1;
  }
  .hero {
    grid-area: hero;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--foreground);
  }
  .about {
    grid-area: about;
    height: 100%;
    background-color: var(--background-nav-modal-invert);
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--foreground);
  }
  .proyects {
    grid-area: proyects;
    height: 100%;
    background-color: var(--background-nav-modal-invert);
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--foreground);
  }
  .contact {
    grid-area: contact;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--foreground);
  }
  .detail {
    grid-area: detail;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--foreground);
  }
  .detail aside {
    width: 100%;
  }
  .sidenav p {
    font-size: 1.5em;
    width: 65%;
    margin: 0 auto;
  }
  .sidenav h3 {
    font-size: 2.5em;
  }
  .sidenav small {
    font-size: 1.5em;
  }
  .sidenav a {
    text-decoration: underline;
    color: var(--a-color);
    font-size: 2.5em;
    transition: all 0.3s linear;
  }
  .sidenav a:hover {
    color: var(--a-hover);
    text-shadow: 2px 2px 8px var(--foreground);
    transition: all 0.3s linear;
  }
  .closebtn {
    color: var(--a-color);
    font-size: 2.5em;
    transition: all 0.3s linear;
  }
  .closebtn:hover {
    color: var(--a-hover);
    font-size: 3em;
    text-shadow: 1px 1px 4px var(--foreground);
    transition: all 0.3s linear;
  }
}
/* Animations */
@keyframes animOpacity {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
