.content p {
  width: 85vw;
  text-align: center;
  font-size: 1.2em;
  text-shadow: 0px 0px 1px var(--foreground);
}
.resumeButton {
  font-size: 1em;
}
.certificationButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  .content p {
    width: 75vw;
    font-size: 2.25em;
    text-align: center;
  }
  .resumeButton {
    font-size: 2em;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) and (orientation: landscape) {
  .content p {
    width: 95vw;
    font-size: 2.25em;
    text-align: left;
  }
  .resumeButton {
    font-size: 1.5em;
  }
}
@media all and (min-width: 1280px) {
  .content p {
    width: 95vw;
    font-size: 2em;
    text-align: left;
    margin: 1vh;
  }
  .resumeButton {
    font-size: 1.5em;
  }
}
@media all and (max-height: 640px) and (orientation: landscape) {
  .content p {
    width: 95vw;
    font-size: 1.2em;
    text-align: left;
    margin: 1vh;
  }
  .resumeButton {
    font-size: 0.75em;
  }
}
